[user]
	name = Jonathan Wiggins
	email = jonathan@wiggins.tech
[pull]
	rebase = true
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[init]
	defaultBranch = main
[rebase]
	autostash = true
[commit]
	verbose = true
