# mpd
mpd/.config/mpd/playlists
mpd/.config/mpd/database
mpd/.config/mpd/log

# ncmpcpp
ncmpcpp/.config/ncmpcpp/error.log

# zsh history file
zsh/.zsh/zhistory

# aerc
aerc/.config/aerc/accounts.conf
