! ~/.Xresources

! Link variables for [Colors] & rofi
#include ".xres/colors.x"
#include ".xres/rofi.x"

! [Font settings]
URxvt.font:		xft:Inconsolata:size=11
URxvt.boldFont:		xft:Inconsolata:style=Bold:size=11
URxvt.letterSpace:	-1
URxvt.lineSpace:	0
xft.antialias:		1
xft.hinting:		1
xft.hintstyle: 		1
xft.rgba:		rgb
xft.lcdfilter:		lcddefault

! [URxvt interface]
URxvt.scrollBar:	false
URxvt.cursorBlink:	true

! [Colors]
*foreground: 		fg
*background: 		bg
*cursorColor:	  	_cursorColor
*colorUL:    	  	_colorUL
*highlightColor:	white15

! Black
*color0:	       	black0
*color8:	       	black8

! Red
*color1:       		red1
*color9:       		red9

! Green
*color2:       		green2
*color10:      		green10

! Yellow
*color3:       		yellow3
*color11:      		yellow11

! Blue
*color4:       		blue4
*color12:      		blue12

! Magenta
*color5:       		magenta5
*color13:      		magenta13

! Cyan
*color6:       		cyan6
*color14:      		cyan14

! White
*color7:	       	white7
*color15:	      	white15
